@import url(https://fonts.googleapis.com/css?family=Roboto:100&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  max-width: 1200px;
  margin: 0 auto; }

.col-1 {
  width: 8.33%; }

.col-1point5 {
  width: 12.5%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-0point5 {
  margin-left: 4.165%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-1point25 {
  margin-left: 10.4125%; }

.col-offset-1point5 {
  margin-left: 12.5%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

/*header */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

nav {
  background-color: #313234;
  transition-duration: 0.5s; }
  nav ul {
    list-style-type: none;
    float: right; }
    nav ul li {
      line-height: 60px;
      float: left; }
      nav ul li a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        min-width: 100px;
        text-align: center;
        color: #fff; }
        nav ul li a:hover {
          color: #00C7E8;
          font-weight: 600;
          font-size: 1.2em; }
        nav ul li a:visited {
          color: #fff; }
  nav img {
    height: 60px;
    float: left;
    margin: 0 auto;
    padding-left: 25px; }

/*jumbotron */
.hero {
  max-width: 100%;
  height: 400px;
  background: url(https://image.freepik.com/free-photo/laptop-on-office-desk_426-19315253.jpg);
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.slogan {
  float: right;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 165px;
  padding: 20px 255px 20px 20px;
  max-width: 75%;
  background-color: rgba(40, 40, 40, 0.5);
  font-size: 24px;
  line-height: 28px;
  text-align: left; }
  .slogan h1 {
    font-weight: 100; }
  .slogan span {
    font-weight: 700; }

/*benefits */
.benefits {
  margin: 50px auto;
  text-align: center; }
  .benefits i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 75px;
    height: 75px;
    border: 0;
    font-size: 50px;
    padding: 0;
    color: #fff;
    background-color: #313234;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    line-height: 75px;
    transition-duration: 0.5s; }
  .benefits h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition-duration: 0.5s; }
  .benefits div div:hover i {
    background-color: #00C7E8;
    cursor: pointer; }
  .benefits div div:hover h2 {
    color: #00C7E8; }
  .benefits p {
    margin-top: 15px;
    color: #5A5A5C;
    font-size: 0.9em; }
  .benefits [class*="col-"] {
    padding: 0 15px; }

/*feature */
.feature h2 {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  margin: 0 auto; }
.feature p {
  color: #5A5A5C;
  margin: 30px auto;
  text-align: center; }

/*gallery */
.gallery img {
  height: 300px;
  margin: 0 auto;
  z-index: -1;
  width: 100%; }
.gallery [class*="col-"] {
  text-align: center;
  overflow: hidden;
  position: relative;
  line-height: 0;
  padding: 0;
  margin: 0; }
  .gallery [class*="col-"] .layer {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 0;
    background-color: transparent;
    transition-duration: 0.5s;
    text-align: center; }
    .gallery [class*="col-"] .layer .fa {
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      margin: 0 20px;
      top: 140px;
      color: rgba(0, 0, 0, 0.8);
      transition-duration: 0.5s;
      opacity: 0;
      z-index: 1; }
    .gallery [class*="col-"] .layer .fa-link {
      padding-top: 8px; }
    .gallery [class*="col-"] .layer .fa-search {
      padding-top: 7px; }
.gallery [class*="col-"]:hover .fa {
  opacity: 1; }
.gallery [class*="col-"]:hover .layer {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer; }

/*team */
.team {
  margin: 100px auto;
  text-align: center; }
  .team img {
    width: 200px;
    height: 200px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition-duration: 0.5s; }
  .team h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #313234;
    font-weight: 500; }
  .team .layer {
    position: absolute;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: 0;
    background-color: transparent;
    transition-duration: 0.5s; }
  .team p {
    transition-duration: 0.5s;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    opacity: 0;
    font-weight: 300;
    margin-top: 91px; }
  .team [class*="col-"] {
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 15px;
    display: inline-block;
    float: none; }
  .team .col-2 {
    min-width: 200px; }
  .team div div:hover .layer {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    .team div div:hover .layer p {
      opacity: 1; }

/*picture */
.picture {
  overflow: hidden;
  min-height: 350px;
  background-color: #666666;
  color: #fff;
  margin: 25px; }
  .picture h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    margin: 80px 25px 30px;
    letter-spacing: 3px; }
  .picture .col-4 p {
    font-style: italic; }
  .picture p {
    text-align: left;
    margin: 0 25px;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px; }
  .picture img {
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: right;
    min-height: 300px;
    margin-top: 50px; }

/* numbers */
.numbers {
  margin: 10px auto;
  text-align: center; }
  .numbers h2 {
    font-size: 54px;
    margin-top: 20px;
    font-weight: 800;
    text-align: center; }
  .numbers p {
    color: #00C7E8;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 40px; }

/* ending */
.ending {
  background-color: #313234;
  color: #fff;
  text-align: left; }
  .ending [class*="col-"] {
    overflow: hidden; }
  .ending h2 {
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    margin: 30px 25px;
    font-weight: 700;
    margin-top: 40px;
    position: relative; }
  .ending p {
    margin: 0 25px;
    font-size: 12px;
    font-weight: 100;
    text-align: justify; }
  .ending h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 2px;
    background: #fff;
    top: 50%;
    left: calc(100% + 10px); }
  .ending h3 {
    margin: 0 25px;
    font-size: 14px;
    font-weight: bold; }
  .ending button {
    background-color: #3498db;
    color: #fff;
    border: none;
    height: 30px;
    width: 30px;
    margin: 5px;
    font-size: 20px;
    transition: transform 0.5s; }
    .ending button:hover {
      background: #1276ba;
      transform: scale(1.4); }

.contact p {
  text-align: left;
  margin: 0 10px; }

.row.contact {
  margin-bottom: 15px; }

.row.button {
  padding: 0 20px; }

/* copyrights */
.copyrights {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #202123;
  color: #fff;
  line-height: 40px; }

@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  /*header */
  nav {
    text-align: center;
    font-size: 12px; }
    nav ul {
      float: none;
      padding: 0; }
      nav ul li {
        display: block;
        float: none;
        line-height: 30px; }
        nav ul li a:hover {
          font-size: 1.2em; }
    nav img {
      float: none;
      margin: 5px auto;
      height: 30px;
      padding: 0; }

  /* jumbotron */
  .jumbotron {
    padding-bottom: 0; }
    .jumbotron img {
      width: 100%;
      height: auto; }

  .slogan {
    padding: 15px 20% 15px 15px;
    width: 50%; }
    .slogan h1 {
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 15px; }

  /*benefits */
  .benefits {
    margin: 15px auto;
    text-align: center; }
    .benefits i {
      width: 30px;
      height: 30px;
      font-size: 20px;
      background-color: #313234;
      line-height: 30px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
    .benefits h2 {
      font-size: 14px; }
    .benefits p {
      margin-top: 15px;
      color: #5A5A5C;
      font-size: 12px; }
    .benefits [class*="col-"] {
      float: none;
      padding: 15px;
      margin: 0 auto;
      min-height: 110px; }
    .benefits div div:hover i {
      background-color: #313234; }
    .benefits div div:hover h2 {
      color: black; }

  /*feature */
  .feature {
    margin: 15px auto;
    text-align: center; }
    .feature h2 {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700; }
    .feature p {
      font-size: 12px; }

  /*gallery */
  .gallery {
    margin: 15px auto;
    text-align: center; }
    .gallery img {
      width: 100%;
      height: auto; }
    .gallery [class*="col-"] {
      text-align: center;
      overflow: hidden;
      position: relative;
      line-height: 0;
      padding: 0;
      margin: 0; }
      .gallery [class*="col-"] .layer {
        display: none; }

  /*team */
  .team {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .team [class*="col-"] {
      float: none;
      padding: 5px;
      margin: 0 auto; }
    .team img {
      width: 175px;
      height: 175px;
      padding: 0; }
    .team h2 {
      font-size: 16px;
      margin: 5px; }
    .team .layer {
      display: none; }
    .team p {
      font-size: 14px; }

  /*picture */
  .picture {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    min-height: 200px; }
    .picture h2 {
      float: none;
      font-size: 16px;
      padding: 5px;
      margin: 0px; }
    .picture [class*="col-"] {
      float: none;
      padding: 5px;
      margin: 0 auto; }
    .picture p {
      margin: 0 5px;
      font-size: 12px;
      line-height: 14px; }
    .picture img {
      float: none;
      min-height: 150px;
      margin: 0 auto;
      padding: 5px 20px; }

  /* numbers */
  .numbers {
    margin: 0 auto;
    padding: 5px; }
    .numbers [class*="col-"] {
      float: none;
      margin: 0 auto; }
    .numbers h2 {
      font-size: 20px;
      margin: 0 auto; }
    .numbers p {
      font-size: 12px;
      margin: 0 auto;
      padding: 5px 0;
      font-weight: 500; }

  /* ending */
  .ending [class*="col-"] {
    float: none;
    margin: 0 auto;
    padding: 5px; }
  .ending h2 {
    font-size: 18px;
    margin: 0 auto; }
  .ending h2::after {
    width: 50px; }
  .ending p {
    margin: 0 auto; }

  .contact p {
    margin: 0 10px; }
  .contact h3 {
    margin: 0 auto; }
  .contact button {
    margin: 10px; }
  .contact button:first-of-type {
    margin-left: 10px; }

  /* copyrights */
  .copyrights {
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 18px; } }
